/*
 * Want to change this website's styes? Learn more about CSS:
 * https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS
 */

body {
  padding: 0 20px;
  background: SlateBlue;
}

h1 {
  color: LightGrey;
}

#🦄 {
  display: block;
  border-width: 5px;
  background-color: green;
  font-size: 50px;
  font-style: bold;
}
